# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
.venv/
venv/
ENV/

# Environment variables
.env

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Logs
*.log

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# FastAPI
instance/

# Pydantic cache
*.pydantic_cache/
